<div id="outer" class="w100">
  <div id="collapse-toggle-button"
    class="d-flex flex-column justify-content-center align-items-center"
    (click)="collapsed = !collapsed">
    <h5 *ngIf="collapsed" class="mt-2">{{ 'filteringForm.collapsedMessage' | trs }}</h5>
    <i *ngIf="collapsed" class="collapse-arrow bi bi-chevron-compact-down"></i>
    <i *ngIf="!collapsed" class="mb-4 collapse-arrow bi bi-chevron-compact-up"></i>
  </div>
  <form *ngIf="!collapsed" [formGroup]="form" (ngSubmit)="onFormSubmitted()">
    <div class="form-group row mb-2">
      <div class="col-lg-4"></div>
      <div class="col-lg-8">
        <button
          class="w-100 btn btn-primary"
          type="button"
          (click)="onFormReset()"
          [ngClass]="{ 'disabledControl': form.pristine }">
          {{ 'filteringForm.resetButton' | trs }}
        </button>
      </div>
    </div>
    <div class="form-group row">
      <!-- sex -->
      <label class="col-lg-4 col-form-label">{{ 'filteringForm.sexLabel' | trs }}</label>
      <div class="col-lg-8 mb-2">
        <select id="sex-control" class="form-select" formControlName="sex">
          <option [value]="'anySelection'">{{ 'anySelection' | trs }}</option>
          <option *ngFor="let enumValue of sexEnum | e2s" [value]="enumValue">{{ enumValue | trs }}</option>
        </select>
      </div>
      <!-- age -->
      <div class="row">
        <label class="col-lg-4 col-form-label">{{ 'filteringForm.ageLabel' | trs }}</label>
        <div id="slider-wrapper" class="col-lg-8">
          <div class="eleven-slider">
            <ngx-slider
              [(value)]="ageSliderMinValue"
              [(highValue)]="ageSliderMaxValue"
              [options]="ageSliderOptions">
            </ngx-slider>
          </div>
        </div>
      </div>
      <!-- height -->
      <div class="row">
        <label class="col-lg-4 col-form-label">{{ 'filteringForm.heightLabel' | trs }}</label>
        <div id="slider-wrapper" class="col-lg-8">
          <div class="eleven-slider">
            <ngx-slider
              [(value)]="heightSliderMinValue"
              [(highValue)]="heightSliderMaxValue"
              [options]="heightSliderOptions">
            </ngx-slider>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <!-- hair color -->
      <label class="col-lg-4 col-form-label">{{ 'filteringForm.hairColorLabel' | trs }}</label>
      <div class="col-lg-8 mb-2">
        <select id="hair-color-control" class="form-select" formControlName="hairColor">
          <option [value]="'anySelection'">{{ 'anySelection' | trs }}</option>
          <option *ngFor="let enumValue of hairColorEnum | e2s" [value]="enumValue">{{ enumValue | trs }}</option>
        </select>
      </div>
      <!-- eye color -->
      <label class="col-lg-4 col-form-label">{{ 'filteringForm.eyeColorLabel' | trs }}</label>
      <div class="col-lg-8 mb-2">
        <select id="eye-color-control" class="form-select" formControlName="eyeColor">
          <option [value]="'anySelection'">{{ 'anySelection' | trs }}</option>
          <option *ngFor="let enumValue of eyeColorEnum | e2s" [value]="enumValue">{{ enumValue | trs }}</option>
        </select>
      </div>
      <!-- ethnicity -->
      <label class="col-lg-4 col-form-label">{{ 'filteringForm.ethnicityLabel' | trs }}</label>
      <div class="col-lg-8 mb-2">
        <select id="ethnicity-control" class="form-select" formControlName="ethnicity">
          <option [value]="'anySelection'">{{ 'anySelection' | trs }}</option>
          <option *ngFor="let enumValue of ethnicityEnum | e2s" [value]="enumValue">{{ enumValue | trs }}</option>
        </select>
      </div>
      <!-- location -->
      <label class="col-lg-4 col-form-label">{{ 'filteringForm.locationLabel' | trs }}</label>
      <div class="col-lg-8 mb-2">
        <select id="location-control" class="form-select" formControlName="location">
          <option [value]="'anySelection'">{{ 'anySelection' | trs }}</option>
          <option *ngFor="let enumValue of locationEnum | e2s" [value]="enumValue">{{ enumValue | trs }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-4"></div>
      <div class="col-lg-8 mb-2">
        <button class="w-100 btn btn-primary" type="submit">
        {{ 'filteringForm.submitButton' | trs }}
        </button>
      </div>
    </div>
  </form>
</div>
