#outer {
  border-radius: 10px;
  /* border: 5px solid var(--eleven-border-color); */
  background-color: var(--eleven-background-dark);
  padding: 10px;
}

#collapse-toggle-button {
  cursor: pointer;
}

#collapse-toggle-button:hover .collapse-arrow {
  color: var(--eleven-pink-primary);
  transition: all 0.25s ease;
  transform: scale(1.5);
}

.collapse-arrow {
  font-size: 20px;
}

#slider-wrapper {
  padding-left: 30px;
}

@media (min-width: 1200px) {
  /* xl */
  .collapse-arrow {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  /* sm */
  .bi-gender-female, .bi-gender-male {
    display: none;
  }
}
