#contact-from {
  position: relative;
}

#form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: 0.5s ease;
  background-color: var(--eleven-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#form-overlay a {
  max-width: 500px;
}

#textarea-container {
  position: relative;
}

#message-length-counter {
  bottom: 5px;
  right: 5px;
  padding: 0 5px;
  position: absolute;
  color: var(--eleven-border-color);
  background-color: white;
  border: 1px solid var(--eleven-border-color);
  border-radius: 5px;
}

.validation-message {
  color: rgb(253, 56, 56);
}

.required-label::after {
  content: "*";
  color: rgb(253, 56, 56);
}
