<section>
  <div class="section-title">
    <h1>{{ 'contactForm.sectionTitle' | trs }}</h1>
  </div>
  <div class="container">
    <form id="contact-from" [formGroup]="form" (ngSubmit)="onFormSubmitted()">
      <div class="form-group row">
        <!-- sender name -->
        <label class="col-lg-4 col-form-label required-label">{{ 'contactForm.senderNameLabel' | trs }}</label>
        <div class="col-lg-8 mb-2">
          <input
            class="form-control"
            type="text"
            maxlength="50"
            formControlName="senderName" />
            <div *ngIf="form.controls.senderName.hasError('required') && form.controls.senderName.touched" class="validation-message">
              {{ 'contactForm.emptyValidationMessage' | trs }}
            </div>
        </div>
        <!-- reply to -->
        <label class="col-lg-4 col-form-label required-label">{{ 'contactForm.replyToLabel' | trs }}</label>
        <div class="col-lg-8 mb-2">
          <input
            class="form-control"
            type="email"
            formControlName="replyTo" />
          <ng-container *ngIf="form.controls.replyTo.touched">
            <div *ngIf="form.controls.replyTo.hasError('required')" class="validation-message">
              {{ 'contactForm.emptyValidationMessage' | trs }}
            </div>
            <div *ngIf="form.controls.replyTo.hasError('email')" class="validation-message">
              {{ 'contactForm.emailValidationMessage' | trs }}
            </div>
          </ng-container>
        </div>
        <!-- subject -->
        <label class="col-lg-4 col-form-label required-label">{{ 'contactForm.subjectLabel' | trs }}</label>
        <div class="col-lg-8 mb-2">
          <input
            class="form-control"
            type="text"
            maxlength="50"
            formControlName="subject" />
            <div *ngIf="form.controls.subject.hasError('required') && form.controls.subject.touched" class="validation-message">
              {{ 'contactForm.emptyValidationMessage' | trs }}
            </div>
        </div>
        <!-- message -->
        <label class="col-lg-4 col-form-label required-label">{{ 'contactForm.messageLabel' | trs }}</label>
        <div class="col-lg-8 mb-2">
          <div id="textarea-container">
            <textarea
              class="form-control"
              rows="7"
              style="resize: none"
              maxlength="500"
              formControlName="message"
              #messageTextarea>
            </textarea>
            <div id="message-length-counter">{{ messageTextarea.value.length }}/500</div>
          </div>
          <div *ngIf="form.controls.message.hasError('required') && form.controls.message.touched" class="validation-message">
            {{ 'contactForm.emptyValidationMessage' | trs }}
          </div>
        </div>
        <!-- attachment -->
        <label class="col-lg-4 col-form-label">{{ 'contactForm.attachmentLabel' | trs }}</label>
        <div class="col-lg-8 mb-2">
          <input
            class="form-control"
            type="file"
            name="attachment"
            (change)="onAttachmentChanged($event)" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8 mb-2">
          <button class="w-100 btn btn-primary" type="submit" [ngClass]="{ 'disabledControl': !form.valid }">
          {{ 'contactForm.submitButton' | trs }}
          </button>
        </div>
      </div>
      <div *ngIf="done" id="form-overlay">
        <h2>{{ 'contactForm.thankYouMessage' | trs }}</h2>
        <a [routerLink]="'/catalog'" class="w-75 btn-about">{{ 'contactForm.back' | trs }}</a>
      </div>
    </form>
  </div>
</section>
