<section>
  <div class="section-title">
    <h2>{{ 'about.sectionTitle' | trs }}</h2>
  </div>
  <div id="mosaic" class="container">
    <div class="row">
      <!-- todo: use translate -->
      <p id="text1" class="col-lg-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu diam suscipit, efficitur odio vel, vulputate felis. Vivamus venenatis lacus massa, et molestie sapien placerat volutpat. Curabitur sed tellus a lacus lacinia imperdiet a tempus velit. Nullam a blandit nunc, ut varius dui. Phasellus accumsan tincidunt massa in cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras ornare dolor nisi, in suscipit lacus scelerisque sed. Ut porta tellus finibus pretium commodo. In nec accumsan sem. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae eros et augue molestie elementum. Vivamus facilisis risus metus, a interdum ipsum semper faucibus. Etiam finibus laoreet orci, ac malesuada est maximus id.</p>
      <img class="col-lg-6" src="../../assets/about1.jpg" alt="about1" />
    </div>
    <div class="row">
      <img class="col-lg-6" src="../../assets/about2.jpg" alt="about2" />
      <!-- todo: use translate -->
      <p id="text2" class="col-lg-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu diam suscipit, efficitur odio vel, vulputate felis. Vivamus venenatis lacus massa, et molestie sapien placerat volutpat. Curabitur sed tellus a lacus lacinia imperdiet a tempus velit. Nullam a blandit nunc, ut varius dui. Phasellus accumsan tincidunt massa in cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras ornare dolor nisi, in suscipit lacus scelerisque sed. Ut porta tellus finibus pretium commodo. In nec accumsan sem. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae eros et augue molestie elementum. Vivamus facilisis risus metus, a interdum ipsum semper faucibus. Etiam finibus laoreet orci, ac malesuada est maximus id.</p>
    </div>
  </div>
</section>
