p {
  text-align: center;
}

img {
  aspect-ratio: 1;
  object-fit: cover;
  height: 400px;
  margin-bottom: 10px;
}

#mosaic {
  padding: 0 30px 0 30px;
}

@media (min-width: 992px) {
  /* lg */

  img {
    margin-bottom: unset;
  }

  #mosaic {
    width: 800px;
    padding: 0;
  }
}
