p {
  text-align: justify;
  text-justify: inter-word;
}

img {
  aspect-ratio: 1;
  object-fit: cover;
  height: 400px;
  margin-bottom: 10px;
  /* margin-bottom: 10px; */
}

@media (min-width: 992px) {
  /* lg */

  img {
    margin-bottom: unset;
  }

  #mosaic {
    width: 800px;
  }
}
