<header id="header">
  <a [routerLink]="'/'" id="logo" href="" class="container-fluid d-flex justify-content-center">
    <img src="../../assets/eleven-logo.svg" alt="logo" class="img-fluid">
  </a>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <nav class="navbar">
      <ul>
        <li><a [routerLink]="'/about'">{{ 'header.about' | trs }}</a></li>
        <li><a [routerLink]="'/catalog'">{{ 'header.catalog' | trs }}</a></li>
        <li><a [routerLink]="'/contact'">{{ 'header.contact' | trs }}</a></li>
      </ul>
    </nav>
  </div>
</header>
