<header id="header">
  <a id="logo" href="" class="container-fluid d-flex justify-content-center">
    <img src="../../assets/logo.png" alt="logo" class="img-fluid">
  </a>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <nav class="navbar">
      <ul>
        <li><a href="">{{ 'header.about' | trs }}</a></li>
        <li><a href="">{{ 'header.catalog' | trs }}</a></li>
        <li><a href="">{{ 'header.contact' | trs }}</a></li>
      </ul>
    </nav>
  </div>
</header>
