<section id="main" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
    <h1>{{ 'mainPage.h1' | trs }}</h1>
    <h2>{{ 'mainPage.h2' | trs }}</h2>
    <a [routerLink]="'/catalog'" class="btn-about">{{ 'mainPage.button' | trs }}</a>
  </div>
</section>
<section id="below-main">
  <div class="section-title">
    <h2>{{ 'mainPage.sectionTitle' | trs }}</h2>
    <div class="d-flex justify-content-center">
      <p id="info-text" data-aos="zoom-in" data-aos-delay="100">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce eu diam suscipit, efficitur odio vel, vulputate felis.
        Vivamus venenatis lacus massa, et molestie sapien placerat volutpat.
        Curabitur sed tellus a lacus lacinia imperdiet a tempus velit.
        Nullam a blandit nunc, ut varius dui.
        Phasellus accumsan tincidunt massa in cursus.
      </p>
    </div>
  </div>
</section>
