<section>
  <div class="section-title">
    <h1>{{ 'catalog.sectionTitle' | trs }}</h1>
  </div>
  <div class="container mb-4">
    <eleven-filtering-form></eleven-filtering-form>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let actor of data | slice: (currentPage - 1) * pageSize : currentPage * pageSize" class="col-lg-4 mb-4">
        <div [routerLink]="'/profile'" [queryParams]="{ id: actor.id }" class="catalog-container">
          <img class="w-100 square-img" [src]="dataLocation + actor.profilePicturePath" alt="Actor" />
          <h5>{{ actor.name }}</h5>
          <div class="catalog-container-overlay">
            <p>{{ 'catalog.overlayBirthYear' | trs }}: {{ actor.birthYear }}</p>
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center catalog-pagination-controls"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="data.length"
      [maxSize]="paginationBarSize"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true">
    </ngb-pagination>
  </div>
</section>
