<section>
  <div class="section-title">
    <h2>{{ 'catalog.sectionTitle' | trs }}</h2>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let actor of data | slice: (currentPage - 1) * pageSize : currentPage * pageSize" class="col-lg-4 mb-4">
        <div class="catalog-container">
          <img class="w-100 square-img" [src]="dataLocation + actor.profilePicturePath" alt="Actor" />
          <h5>{{ actor.name }}</h5>
          <div class="catalog-container-overlay">
            <h4>{{ 'catalog.overlayBirthYear' | trs }}: {{ actor.birthYear }}</h4>
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center catalog-pagination-controls"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="data.length"
      [maxSize]="paginationBarSize"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true">
    </ngb-pagination>
  </div>
</section>